@import url('../common/reset.css');
@font-face {
  font-family: 'EB Garamond';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/ebgaramond/v14/SlGDmQSNjdsmc35JDF1K5E55YMjF_7DPuGi-2fRUAw.ttf) format('truetype');
}
@font-face {
  font-family: 'EB Garamond';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/ebgaramond/v14/SlGDmQSNjdsmc35JDF1K5E55YMjF_7DPuGi-DPNUAw.ttf) format('truetype');
}
@font-face {
  font-family: 'Cinzel';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/cinzel/v10/8vIU7ww63mVu7gtR-kwKxNvkNOjw-tbnTYo.ttf) format('truetype');
}
@font-face {
  font-family: 'Eagle Lake';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/eaglelake/v8/ptRMTiqbbuNJDOiKj9wG5O4.ttf) format('truetype');
}
/* Variables */
/* Mixins */
/* Pages */
@page {
  size: A4;
  margin: 2cm;
  background: url('bg.jpg') no-repeat;
  background-size: cover;
  font-family: 'EB Garamond', serif;
  font-size: 10pt;
  line-height: 1.25;
  scroll-behavior: smooth;
  orphans: 3;
  widows: 3;
  counter-increment: page;
}
@page :blank {
  @bottom-right-corner {
    content: none;
    display: none;
  }
  @bottom-left-corner {
    content: none;
    display: none;
  }
}
@page :right {
  @bottom-right-corner {
    content: counter(page);
    text-align: center;
    background-color: rgba(190, 150, 80, 0.65);
    border-radius: 15pt;
    width: 1.5rem;
    height: 1.5rem;
    margin-top: calc(70% - 0.75rem);
    box-shadow: rgba(0, 0, 0, 0.5) 0 1pt;
    margin-left: calc(70% - 0.75rem);
  }
}
@page :left {
  @bottom-left-corner {
    content: counter(page);
    text-align: center;
    background-color: rgba(190, 150, 80, 0.65);
    border-radius: 15pt;
    width: 1.5rem;
    height: 1.5rem;
    margin-top: calc(70% - 0.75rem);
    box-shadow: rgba(0, 0, 0, 0.5) 0 1pt;
    margin-left: calc(30% - 0.75rem);
  }
}
@page book-cover-front {
  background: url('cover.jpg') no-repeat right bottom;
  background-size: cover;
  @bottom-right-corner {
    content: none;
    display: none;
  }
  @bottom-left-corner {
    content: none;
    display: none;
  }
}
@page book-cover-back {
  background: url('cover.jpg') no-repeat left bottom;
  background-size: cover;
  @bottom-right-corner {
    content: none;
    display: none;
  }
  @bottom-left-corner {
    content: none;
    display: none;
  }
}
@page chapter:first {
  @right-top {
    content: none;
    display: none;
  }
  @left-top {
    content: none;
    display: none;
  }
}
@page chapter:blank {
  @right-top {
    content: none;
    display: none;
  }
  @left-top {
    content: none;
    display: none;
  }
}
@page chapter:left {
  @left-top {
    content: "Rozdział " counter(chapter-number, upper-roman) ": " string(chapter);
    white-space: pre;
    height: 2rem;
    width: fit-content;
    padding: 0 1rem;
    vertical-align: middle;
    transform-origin: top left;
    background-color: rgba(190, 150, 80, 0.65);
    transform: rotate(90deg) translate(0, -2cm);
    border-radius: 0 0 1rem 1rem;
    box-shadow: rgba(0, 0, 0, 0.5) 1pt 0;
    transform: rotate(90deg) translate(0, -100%);
    border-radius: 1rem 1rem 0 0;
  }
}
@page chapter:right {
  @right-top {
    content: "Rozdział " counter(chapter-number, upper-roman) ": " string(chapter);
    white-space: pre;
    height: 2rem;
    width: fit-content;
    padding: 0 1rem;
    vertical-align: middle;
    transform-origin: top left;
    background-color: rgba(190, 150, 80, 0.65);
    box-shadow: rgba(0, 0, 0, 0.5) 1pt 0;
    transform: rotate(90deg) translate(0, -2cm);
    border-radius: 0 0 1rem 1rem;
  }
}
@page no-paging {
  @bottom-right-corner {
    content: none;
    display: none;
  }
  @bottom-left-corner {
    content: none;
    display: none;
  }
}
/* Named pages */
.book-cover-front {
  page: book-cover-front;
}
.book-cover-front hr {
  border-width: 0 0 1pt 0;
  border-color: #be9650;
  margin: 5%;
}
.book-cover-front .book-title {
  font-size: 3rem;
  margin-top: 15%;
  margin-bottom: 5%;
}
.book-cover-front .book-subtitle {
  font-size: 8rem;
  margin-bottom: 30%;
}
.book-cover-front .book-author {
  font-size: 2rem;
}
.book-cover-front .book-version {
  font-size: 1rem;
}
.book-cover-front .book-title,
.book-cover-front .book-subtitle {
  text-shadow: rgba(0, 0, 0, 0.5) 2pt 2pt;
}
.book-cover-front .book-title,
.book-cover-front .book-subtitle,
.book-cover-front .book-author,
.book-cover-front .book-version {
  font-family: 'Cinzel', serif;
  color: #be9650;
  text-align: center;
}
.book-cover-back {
  page: book-cover-back;
}
.book-toc {
  columns: 2;
  column-fill: auto;
  column-gap: 5%;
  page: no-paging;
  height: 100%;
}
.book-toc .book-toc-title {
  font-size: 2rem;
  margin-bottom: 5%;
  text-align: center;
  padding-bottom: 5%;
  border-bottom: 1pt #000000 solid;
  column-span: all;
}
.book-toc .book-toc-nav > ol {
  break-inside: avoid;
}
.book-toc .book-toc-nav > ol > li > a {
  font-family: 'Eagle Lake', cursive;
}
.book-toc .book-toc-nav > ol > li > a::before {
  content: "Rozdział " target-counter(attr(href), chapter-number, upper-roman) ": ";
}
.book-toc .book-toc-nav > ol ol a {
  margin-left: 1rem;
  display: flex;
}
.book-toc .book-toc-nav > ol ol a .book-toc-text {
  flex: none;
}
.book-toc .book-toc-nav > ol ol a .book-toc-dots {
  border-bottom: 1pt dotted;
  flex: auto;
  height: 9pt;
  margin: 0 3pt;
}
.book-toc .book-toc-nav > ol ol a::after {
  flex: none;
  content: target-counter(attr(href), page);
}
/* Page breaking */
article,
.book-toc {
  break-before: right;
}
.book-cover-back {
  break-before: left;
}
h3 {
  break-before: page;
}
table:not(.wide-table):not(.long-table) {
  break-inside: avoid;
}
/* General */
* {
  box-sizing: border-box;
}
strong {
  font-weight: bold;
}
article {
  columns: 2;
  column-fill: auto;
  column-gap: 5%;
  page: chapter;
}
p {
  text-align: justify;
  text-align-last: left;
}
a {
  color: inherit;
  text-decoration: none;
}
sup {
  top: -0.25rem;
  position: relative;
  font-size: 0.8rem;
}
/* Headers */
h2 {
  font-size: 2rem;
  column-span: all;
  text-align: center;
  margin: 30% 0;
  padding: 5% 0;
  border-top: 1pt #000000 solid;
  border-bottom: 1pt #000000 solid;
  counter-increment: chapter-number;
  string-set: chapter content(text);
  counter-reset: table-number;
}
h2::before {
  content: "Rozdział " counter(chapter-number, upper-roman);
  font-size: 1rem;
  line-height: 2rem;
  display: block;
}
h3 {
  font-size: 1.4rem;
  padding: 0.5rem 0;
  margin-bottom: 1rem;
  border-bottom: 1pt #000000 solid;
  border-top: 1pt #000000 solid;
  text-align: center;
}
h4 {
  font-size: 1.2rem;
  border-bottom: 1pt #000000 solid;
}
h5 {
  text-transform: uppercase;
}
h6 {
  font-weight: bold;
}
h4,
h5,
h6 {
  margin-bottom: 0.5rem;
}
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Eagle Lake', cursive;
}
dl + h3,
dl + h4,
dl + h5,
dl + h6,
p + h3,
p + h4,
p + h5,
p + h6,
table + h3,
table + h4,
table + h5,
table + h6,
ol + h3,
ol + h4,
ol + h5,
ol + h6,
ul + h3,
ul + h4,
ul + h5,
ul + h6 {
  margin-top: 0.5rem;
}
h2 + p:first-letter {
  float: left;
  font-size: 3rem;
  line-height: 1;
  margin-right: 0.5rem;
}
/* Definition list */
p + p,
dl + p {
  text-indent: 2rem;
}
dl {
  text-align: justify;
  text-align-last: left;
}
dl dt {
  display: inline;
  font-weight: bold;
}
dl dt::before {
  content: "";
  display: block;
}
dl dt::after {
  content: ": ";
}
dl dd,
dl dd > p {
  display: inline;
}
/* Tables */
table {
  margin: 0.5rem 0;
  width: 100%;
  text-align: center;
  counter-increment: table-number;
}
table.wide-table {
  column-span: all;
}
table caption {
  padding-bottom: 0.5rem;
  font-weight: bold;
  text-align: left;
}
table caption::before {
  content: "Tabela " counter(chapter-number) "-" counter(table-number) ": ";
}
table td,
table th {
  padding: 1pt 2pt;
}
table thead {
  font-weight: bold;
}
table thead tr th {
  vertical-align: bottom;
}
table thead tr th[colspan] {
  text-align: center;
}
table tbody tr td {
  vertical-align: top;
}
table tbody tr:nth-child(odd) {
  background-color: rgba(190, 150, 80, 0.5);
}
.table-footnotes {
  text-align: left;
  margin-bottom: 0.5rem;
}
.wide-table + .table-footnotes {
  column-span: all;
}
/*# sourceMappingURL=style.css.map */